<h1>Psychedelic Domain Names: Historic Sales Database</h1>

<h2> Total sales: <%= @domains.sum(:price) %> </h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Url</th>
      <th>Link</th>
      <th>Extension</th>
      <th>Price</th>
      <th>Date</th>
      <th>Venue</th>
      <th colspan="2"></th>
    </tr>
  </thead>
Hello world.


  <tbody>
    <% @domains.order(:price).reverse.each do |domain| %>
      <tr>
        <td><%= link_to domain.url, domain %></td>
        <td> <%= link_to "Visit site", "http://www." + domain.url, :target => "_blank" %> </td>
        <td><%= domain.extension %></td>
        <td><%= domain.price %></td>
        <td><%= domain.date %></td>
        <td><%= domain.venue %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_domain_path(domain), class:"btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Destroy', domain, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Domain', new_domain_path, class:"btn btn-primary" %>
